* {
  box-sizing: border-box;
  position: relative;
  font-family: 'Open Sans', sans-serif;

  line-height: 1.2em;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 16px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 100%;
  min-height: 150px;
}

title {
  display: none;
}

/*
 *
 * header
 *
 */

.header {
  background-color: #fff;
  min-height: 100px;
  border-bottom: 3px solid #7e7e7e;
  margin-bottom: 10px;
  vertical-align: middle;
  display: inline-block;
}

.header__logo {
  width: 20%;
  display: inline-block;
}

.header__logo img {
  width: 100%;
  max-height: 100px;
  max-width: 100px;
  padding-top: 10px;
  padding-left: 10px;
  order:-10;
}

.header__text {
  width: 80%;
  order: -8;
  float: right;
  display: inline-block;
  padding-right: 10px;
  text-align: right;
}

.header__name {
  font-size: 2em;
  margin-bottom: 0;
  margin-top: 10px;
  color: #7e7e7e;
}

.header__jobtitle {
  margin-top: 0;
  margin-bottom: 0;
}

.nav {
  background-color: green;
}


/*
 *
 * center-piece
 *
 */


.center-piece {
  /* background-color: blue; */
  position: relative;
  background-image: url("../img/computer-screen.png");
  background-size: cover;
  background-position: top;
  min-height: 250px;
}


/*
 *
 * featured-work
 *
 */


.featured-work {
  /* background-color: yellow; */
  margin-top: .5em;
}

.featured-work__title {
  color: #7e7e7e;
  border-bottom: 1px solid #7e7e7e;
  line-height: 24px;
  width: 100%;
}

.featured-work__article {
  margin-top: .5em;
  display: inline-block;
  background-color: white;
  padding: 3px;
  min-height: 75px;
  align-content: center;
  /* border-radius: 15px; */
  border: 1px solid #7e7e7e;
  /* background-image: url("../img/white-marble-500.jpg");
  background-size: cover; */
  box-shadow: 2px 2px 5px black;
}

.featured-work__article__img {
  max-width: 100px;
  max-height:70px;
  float: left;
  margin-right: 10px;
  border-radius: 15px;
}

.featured-work__name {
  font-size: 2em;
  line-height: 1.2em;
}

.featured-work__link {
  text-decoration: none;
  font-weight: bold;
  font-size: 80%;
  color: black;
}


.truncate {
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
