* {
  box-sizing: border-box;
  position: relative;
  font-family: "Open Sans", sans-serif;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 16px;
}

/* .wrapper {
  background: url(../img/panoramic-large.jpg);
  background-size: cover;
} */

/* TODO: set up wrapper for a background with a transparent container*/

.container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 1px 1px 2px #aaa;
}

.box {
  width: 100%;
}

title {
  display: none;
}

/*
 *
 * header
 *
 */

.header {
  background-color: #fff;
  max-height: 120px;
  border-bottom: 3px solid #7e7e7e;
  margin-bottom: 10px;
  vertical-align: middle;
  overflow: hidden;
}


.header__logo {
  width: 20%;
  /* height: auto; */
  /* max-height: 100px;
  max-width: 100px; */
  padding-top: 10px;
  padding-left: 10px;
  order:-10;

}

.header__logo__img{
  width: 66px;
  height: 66px;
}

.header__text {
  width: 80%;
  order: -8;
  padding-right: 10px;
  text-align: right;
}

.header__name {
  font-size: 2em;
  margin-bottom: 0;
  margin-top: 10px;
  color: #7e7e7e;
}

.header__jobtitle {
  margin-top: 0;
  margin-bottom: 0;
}

.nav {
  background-color: green;
}


/*
 *
 * center-piece
 *
 */


.center-piece {
  /* background-color: blue; */
  position: relative;
  background-image: url(../img/computer-screen.png);
  background-size: cover;
  background-position: top;
  min-height: 250px;
}


/*
 *
 * featured-work
 *
 */


.featured-work {
  margin-top: 0.5em;
}

.featured-work__title {
  color: #333;
  border-bottom: 1px solid #333;
  line-height: 24px;
  width: 100%;
}

.featured-work__article {
  margin-top: 0.5em;
  background-color: white;
  padding: 3px;
  min-height: 75px;
  align-content: center;
  box-shadow: 1px 1px 5px gray;
}

.featured-work-img-box{
  width: 75px;
  margin-right: 10px;
}
.featured-work__article__img {
  width: 75px;
  height: 75px;
  border-radius: 5px;
}

.featured-work__name {
  font-size: 2em;
  line-height: 1.2em;
}

.featured-work__link {
  text-decoration: none;
  font-weight: bold;
  font-size: 80%;
  color: black;
}

.truncate {
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
