* {
  box-sizing: border-box;
  position: relative;
  font-family: 'Open Sans', sans-serif;

  line-height: 1.2em;
  margin: 0px;
  padding: 0px;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 16px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 100%;
  min-height: 150px;
}

title {
  display: none;
}

/*
 *
 * header
 *
 */

.header {
  background-color: #fff;
  min-height: 100px;
  border-bottom: 3px solid #7e7e7e;
  margin-bottom: 10px;
  vertical-align: middle;
  display: inline-block;
}

.header__logo {
  width: 20%;
  display: inline-block;
}

.header__logo img {
  width: 100%;
  max-height: 100px;
  max-width: 100px;
  padding-top: 10px;
  padding-left: 10px;
  order:-10;
}

.header__text {
  width: 80%;
  order: -8;
  float: right;
  display: inline-block;
  padding-right: 10px;
  text-align: right;
}

.header__name {
  font-size: 2em;
  margin-bottom: 0px;
  margin-top: 10px;
  color: #7e7e7e;
}

.header__jobtitle {
  margin-top: 0em;
  margin-bottom: 0em;
}

.nav {
  background-color: green;
}


/*
 *
 * center-piece
 *
 */


.center-piece {
  /* background-color: blue; */
  position: relative;
  background-image: url("../img/computer-screen.png");
  background-size: cover;
  background-position: top;
  min-height: 250px;
}


/*
 *
 * featured-work
 *
 */


.featured-work {
  background-color: yellow;
  margin-top: .5em;
}

.featured-work h1 {
  color: #7e7e7e;
}

.featured-work__article {
  margin-top: .5em;
  display: inline-block;
  background-color: orange;
  padding: 3px;
  min-height: 75px;
}

.featured-work__article img{
  max-width: 70px;
  max-height:70px;
  float: left;
  margin-right: 10px;
}

.truncate {
  width: 60%; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
