@media screen and (max-width: 740px) {
  .featured-work {
    justify-content: center;
  }

  .featured-work__article {
    border-radius: 8px;
    width: 95%;
  }

}


@media screen and (min-width: 740px) {
  .header__logo__img{
    width: 99px;
    height: 99px;
  }

  .header__name {
    font-size: 3em;
  }

  .featured-work {
    justify-content: center;
  }

  .featured-work__article {
    width: 33%;
    min-height: 300px;
    padding: 0.5em;
    border: none;
    background: none;
    align-content: flex-start;
    justify-content: center;
    text-align: center;
    box-shadow: none;
  }

  .featured-work__title {
    font-size: 2em;
    line-height: 1.5em;
  }

  .featured-work-img-box {
    width: 100%;
    margin: 0;
  }

  .featured-work__article__img {
    /* width: 220px;
    height: 170px; */
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 0;
    overflow: hidden;
    display: block;
  }

  .featured-work-text {
    width: 100%;
  }
}

@media screen and (min-width: 900px) {

  body.container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
