@media screen and (min-width: 660px) {
  .featured-work__article {
    width: 33%;
    min-height: 300px;
    padding: 1em;
    border: none;
    background: none;
    text-align: center;
  }

  .featured-work__title {
    font-size: 2em;
    line-height: 1.5em;
    box-shadow:
  }

  .featured-work__article img {
    width: 100%;
    max-width: none;
    max-height: 150px;
    float: none;
    margin-right: 0px;
    border-radius: 0px;
  }

  .header__name {
    font-size: 3em;
  }
}

@media screen and (min-width: 850px) {
  .container {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
}
